.idea/
.vscode/
.DS_Store
*.log
*.exe
*.db
*.db-shm
*.db-wal
.env
.cache/
.gocache/
.staticcheck/
.tmp/
coverage.out
/build/
/dist/
/frontend/node_modules/
/frontend/wailsjs/
/frontend/dist/*
!/frontend/dist/.gitkeep
